<!--
- 담당자 : 배도훈
- 설명 : alert 모달
- 주요 기능 : alert 메세지를 표시하는 모달창
-->
<div id="alertModal" class="modal alertModal">
    <div class="modal-content">
        <!--<span class="close" onclick="alertDone()"><i class="fa-regular fa-circle-xmark"></i></span>-->
        <div class="modal__body">
            <div class="modal__mid alertText"></div>
            <div class="modal__bottom alertBtnDiv">
                <button id="okBtn" onclick="alertDone()">확인</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/alertModal.js"></script>