<!--
    * 담당자 : 박신욱
    * 기능 : 회원가입 페이지
    * 설명 : 각 회원정보에 필요한 데이터를 입력할 수 있는 Elements 배치 및 유효성 검사 처리를 위한 에러 메시지 Elements 배치
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel='stylesheet' href='/stylesheets/auth.css'/>
    <script src="/javascripts/auth.js"></script>
    <script defer src="/javascripts/emailAuth.js"></script>
    <script src="/javascripts/cookieModule.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="wrapper__email">
    <%- include('./auth/emailAuth.ejs') %>
    </div>
</div>
<div class="wrapper">
    <div class="wrapper__auth" style="display: none">
    <%- include('./auth/auth.ejs') %>
    </div>
</div>
</div>
<div class="alertDiv">
    <%- include('alertModal.ejs') %>
</div>
</body>
</html>
