<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick='logout()'>로그아웃</button>

    <script>
      function logout(){
        const url = '/login/logout';
        fetch(url, {
          method: "get",
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + getCookie('token')
          }
        }).
        then(response => response.json()).
        then((data) => {
          location.href = '/login';
        });
      }

      function getCookie(cName) {
        cName = cName + '=';
        let cookieData = document.cookie;
        let start = cookieData.indexOf(cName);
        let cValue = '';
        if(start != -1){
          start += cName.length;
          let end = cookieData.indexOf(';', start);
          if(end == -1)end = cookieData.length;
          cValue = cookieData.substring(start, end);
        }
        return cValue;
      }
    </script>
  </body>
</html>
