<!DOCTYPE html>
<html>
<head>
    <title><%= stateUrl %></title>
    <script src="/javascripts/cookieModule.js"></script>
    <style>
        .home-section{
            margin-left: 250px;
        }
    </style>
</head>
<body>
<div class="sideBar">
    <%- include('./layout/navbar.ejs') %>
</div>
<div class="home-section">
    <h1 id="name"></h1>
    <p>환영합니다.</p>
</div>
<script>
    const name = localStorage.getItem("emp_name");
    document.getElementById("name").innerHTML = name + " 님";
    //console.log(getCookie("token"))
</script>
</body>
</html>
