<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <script src="/javascripts/login.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="formContent" onkeyup="enter()">
        <div>
            <h4 class="clickable hover-underline" onclick="location.href='/login'">로그인</h4>
            <h4 class="clickable hover-underline" onclick="location.href='/auth'">회원가입</h4>
        </div>
        <div><input type="text" name="emp_no" , id="emp_no" placeholder="ID"></div>
        <div><input type="password" name="password" , id="password" placeholder="Password"></div>
        <div class="checkboxDiv"><input type="checkbox"> Remember Me</div>
        <button id="submitBtn" onclick="login()">로그인</button>
        <div class="formFooter">
            <a href="" class="hover-underline" onclick="alert('기억을 되짚어 보자.');">Forgot Password?</a>
        </div>
    </div>
</div>
</body>
</html>
