<!DOCTYPE html>
<html>
<head>
    <title><%= stateUrl %></title>
    <script src="/javascripts/cookieModule.js"></script>
    <script src="https://kit.fontawesome.com/6ae3e97f2e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="sideBar">
    <%- include('./layout/navbar.ejs') %>
</div>
<div class="home-section">
    <h1 id="name">이용자 관리</h1>
    <div class="userTable">
        <%- include('./manageUse/userTable.ejs') %>
    </div>
</div>
<script src="/javascripts/manageUser.js"></script>
</body>
</html>
