<!DOCTYPE html>
<html>
<head>
    <title><%= stateUrl %></title>
    <script src="/javascripts/cookieModule.js"></script>
    <script defer src="/javascripts/productManage.js"></script>
    <script defer src="/javascripts/productModal/productDetail.js"></script>
    <script src="/javascripts/xlsx.js"></script>
    <script src="https://kit.fontawesome.com/6ae3e97f2e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel='stylesheet' href="/stylesheets/tagModule/search.css"/>
    <link rel='stylesheet' href="/stylesheets/productManage/productModal.css"/>
    <link rel='stylesheet' href="/stylesheets/productManage/productTable.css"/>
</head>
<body>
<div class="sideBar">
    <%- include('./layout/navbar.ejs') %>
</div>
<div class="home-section">
    <h1 id="name">물품 관리</h1>
    <%- include('./productManage/productSearch') %>
    <div class="divProductTable">
    <%- include('./productManage/productTable') %>
    </div>
</div>
</body>
</html>
