<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="wrapper">
    <div class="formContent">
        <div>
            <h4 class="clickable" onclick="alert('로그인');">SIGN IN</h4>
            <h4 class="clickable" onclick="alert('회원가입');">SIGN UP</h4>
        </div>
        <div><input type="text" name="mem_no" placeholder="ID"></div>
        <div><input type="password" name="pw" placeholder="Password"></div>
        <div class="checkboxDiv"><input type="checkbox"> Remember Me</div>
        <button type="submit">로그인</button>

        <div class="formFooter">
            <span class="clickable" onclick="alert('기억을 되짚어 보자.');">Forgot Password?</span>
        </div>
    </div>

</div>
</body>
</html>