/**
* 담당자 : 공동
* 설명 : 회원가입 css
* 주요 기능 : 회원가입 페이지에 사용될 Elements 배치, 애니메이션 및 마우스 hover 사용
*/

@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

body{
    height: 100vh;
    margin: 0;
}
.wrapper{
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}
.current{
    z-index: 1;
}
.wrapper__auth, .wrapper__email{
    background-color: white;
    border-radius: 10px;
    max-width: 450px;
    width: 90%;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    animation: fadeInDown 1s;
}

h4{
    display: inline-block;
    padding: 40px 8px 10px 8px;
}
input[type="text"], input[type="password"], select{
    background-color: #f6f6f6;
    border: #f6f6f6;
    border-radius: 6px;
    width: 50%;
    padding: 15px 32px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}
select{
    width: 64%;
}

button{
    color: white;
    padding: 15px 80px;
    width: 64%;
    background-color: #4385F5;
    display: inline-block;
    margin: 5px 20px 40px 20px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}
.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.widthDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
#emailInput{
    width: 55%;
}
.sendBtn{
    width: 20%;
    padding: 4.5% 0%;
    margin: 0 0;
    margin-bottom: 10px;
    height: 100%;
}
button:hover{
    cursor: pointer;
}
.checkboxDiv{
    display: inline-block;
    width: 64%;
    text-align: left;
    margin-bottom: 10px;
}
.formFooter{
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 30px 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.clickable:hover{
    cursor: pointer;
}
*.hover-underline, .currentPage{
    position: relative;
}
*.hover-underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3274E4;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.currentPage:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3274E4;
    visibility: visible;
    transform: scaleX(1);
}
*.hover-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
a{
    color: black;
    text-decoration: none;
}