@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular";
}
body {
    background-color: rgb(243, 243, 243);
}

.btn-primary{
    color: white;
    background-color: #0098FE;
    border: 1px solid transparent;
}
.btn-empty{
    color: #575757;
    background-color: white;
    border: 1px solid #a8a8a8;
}



