@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular";
}
body {
    background-color: rgb(243, 243, 243);
}
button{
    color: white;
    background-color: #4385F5;
    padding: 10px;
    width: 110px;
    border: none;
    border-radius: 6px;
    transition: background-color, opacity 0.3s ease-in-out;
}
input[type="text"]:focus, input[type="datetime-local"]:focus,
input[type="password"]:focus, select:focus, input[type="number"]:focus{
    background-color: white;
    outline: 2px solid #f6f6f6;
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
}
.btn-primary{
    color: white;
    background-color: #0098FE;
    border: 1px solid transparent;
}
.btn-empty{
    color: #575757;
    background-color: white;
    border: 1px solid #a8a8a8;
}
.btn-green{
    color: white;
    background-color: #198754;
    border: 1px solid transparent;
}
.btn-red{
    color: white;
    background-color: #DC3545;
    border: 1px solid transparent;
}



