/**
* 담당자 : 배도훈
* 설명 : 공통 css 모듈
* 주요 기능 :
*    - 각 페이지에 공통으로 적용할 css.
*    - 폰트, 애니메이션, 버튼 색상, 각 태그들의 공통 css
*/

/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 페이지 공통 애니메이션 */
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translate3d(-20px, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInBack {
    0%{
        opacity: 0;
        transform: translate3d(-20px, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

* {
    font-family: "Pretendard-Regular";
}

body {
    background-color: rgb(243, 243, 243);
}

button{
    color: white;
    padding: 10px;
    width: 110px;
    border: none;
    border-radius: 6px;
    transition: background-color, opacity 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="datetime-local"]:focus
, input[type="password"]:focus
, select:focus
, input[type="number"]:focus{
    background-color: white;
    outline: 2px solid #f6f6f6;
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
}

.btn-primary{
    color: white;
    background-color: #0098FE;
    border: 1px solid transparent;
}

.btn-empty{
    color: #575757;
    background-color: white;
    border: 1px solid #a8a8a8;
}

.btn-green{
    color: white;
    background-color: #198754;
    border: 1px solid transparent;
}

.btn-red{
    color: white;
    background-color: #DC3545;
    border: 1px solid transparent;
}

.home-section > div:first-child:not(.background){
    box-shadow: 5px 5px 15px 5px #cdcdcd;
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content:not(.alertModal .modal-content, .modal-productDetail) {
    background-color: #fefefe;
    margin: 12% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #888;
    border-radius: 20px;
    /*width: 50%;*/
    max-width: 700px;
    /*height:30%;*/
    min-height: 300px;
}
.modal__body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.modal__top{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.modal__mid{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15%;
}
#alertModal{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}
#alertModal .modal-content{
    background-color: #fefefe;
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto;
    padding: 1% 1% 0.5% 1%;
    animation: fadeIn 0.5s;
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 1px 1px 1px 1px #8e8e8e;
}
#alertModal .modal__body{
    justify-content: start;
}
#alertModal .modal__bottom{
    width: 100%;
    align-items: flex-end;
}
#alertModal button{
    margin: 15px 0 0 0;
    width: 15%;
    padding: 1%;
    min-width: 70px;
}
#alertModal .modal__mid{
    width: 100%;
    align-items: flex-start;
    word-break: break-all;
}
button:disabled{
    opacity: 0.5;
}
button:disabled:hover{
    cursor: default;
    background-color: #198754;
    opacity: 0.5;
}


