/**
* 담당자: 박신욱
* 설명: 물품관리 페이지 css
* 주요 기능: 물품관리 Element들을 배치
*/
.home-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productDiv {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin-top: 50px;
    height: 800px;
    align-items: center;
    animation: fadeIn 1.5s;
    animation-fill-mode: backwards;
}
h2 {
    margin-top:50px;
    margin-bottom: 20px;
}
.productComponent {
    flex-direction: column;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}