html, body{
    height: 100%;
}
.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
}

.formContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    min-width: 470px;
    height: 80%;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    animation: fadeInDown 1s;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.content__top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 24px;
    font-weight: bold;
}
.content__mid{
    height: 65%;
    min-height: 500px;
}
.content__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    min-height: 100px;
}
.firstCategoryDiv, .secondCategoryDiv, .codeDiv, .nameDiv, .quantityDiv, .radioDiv, .excelDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__text{
    width: 150px;
    margin-bottom: 3%;
    text-align: left;
}
.home-section input[type="text"], input[type="number"], select, input[type="radio"], #uploadBtn, #addCategory{
    background-color: rgb(243, 243, 243);
    border: #f1f1f1;
    border-radius: 6px;
    width: 300px;
    margin-bottom: 4%;
    padding: 3%;
    transition: all 0.3s ease-in-out;
}
input[type="radio"]{
    width: 30px;
    margin: 0 10px 3% 40px;
}
.radioText{
    width: 50px;
    margin: 0 20px 3% 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus{
    background-color: white;
    outline: 2px solid #f6f6f6;
}

#uploadBtn, #addCategory{
    color: #222222;
    border: 1px solid #cccccc;
    margin: 0 0 3% 0;
}

.formFooter{
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 30px 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.clickable:hover{
    cursor: pointer;
}
*.hover-underline{
    position: relative;
}
*.hover-underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3274E4;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
*.hover-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
a{
    color: black;
    text-decoration: none;
}