/**
* 담당자: 박신욱
* 설명: 이용자 관리 검색창 css
* 주요 기능: 이용자 관리에 배치된 검색창의 세부 css
*/
.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.searchBox p {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
}