.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.searchBox p {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
}