/**
* 담당자: 박신욱
* 설명: 이용자 관리 이용자 리스트 css
* 주요 기능: 이용자의 리스트에 사용된 테이블의 UI, 일정크기부터 다른 UI적용
*/
.table-box-wrap {
    position: relative;
    display: flex;
    justify-content: center;
}

.table-box-wrap .table-box {
    width: 1230px;
    height: 500px;
    overflow: auto;
}

.userTable {
    display: flex;
    justify-content: center;
    margin-top:15px;
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

thead {
    font-weight: bold;
    color: #222222;
}
th {
    background-color: rgb(243, 243, 243);
}
td, th {
    text-align: center;
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

@media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    th {
        border-bottom: 1px solid #a39485;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }

}