/**
* 담당자: 배도훈
* 설명: 카테고리 추가 모달 css
* 주요 기능: 카테고리 추가 에 들어간 Elements 배치및 디자인
*/

#addCategoryInput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnUpload {
    width: 200px;
    height: 200px;
    background: rgb(243, 243, 243);
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 15px 0px #cdcdcd;
}
.filebox {
    display: flex;
    flex-direction: row;
}
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    width: 100px;
    font-size: 14px;
}
#excelBtn{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
