<div id="manageModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="manageDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>관리하기</h3>
        <div class="content__detail">
            <div class="pDiv"><span>사번</span>
                <p id="e_num"></p>
            </div>
            <div class="pDiv"><span>이름</span>
                <p id="e_name"></p>
            </div>
            <div class="pDiv"><span>부서</span>
                <p id="e_dept"></p>
            </div>
            <div class="pDiv"><span>직책</span>
                <p id="e_position"></p>
            </div>
            <div class="pDiv"><span>이메일</span>
                <p id="e_email"></p>
            </div>
            <div class="pDiv"><span>편집 권한</span>
                <p id="p_edit"></p>
            </div>
            <div class="pDiv"><span>대여 권한</span>
                <p id="p_rent"></p>
            </div>
            <div class="pDiv"><span>열람 권한</span>
                <p id="p_open"></p>
            </div>
            <div class="pDiv"><span>비밀번호</span>
                <p id="init_button"></p>
            </div>
        </div>
        <div class="btnDiv">
            <p id="ben_button"></p>
            <p id="save_button"></p>
        </div>
    </div>
</div>