<div class="searchBox">
    검색창
    <select class="select search" id="select_search">
        <option value="emp_name">이름</option>
        <option value="emp_no">사번</option>
        <option value="dept">부서</option>
        <option value="emp_position">직책</option>
    </select>
    <div class="search" style="cursor:pointer">
        <input type="text" placeholder="검색어 입력" id="input_text">
        <i class="fa-solid fa-magnifying-glass" onclick="manageSearch()"></i>
    </div>
</div>
