<!--
    * 담당자 : 박신욱
    * 기능 : 이용자 관리 페이지
    * 설명 : 사용자들을 조건에 맞게 검색 할 수있도록 Elements 배치
-->
<div class="searchBox">
    <p>검색</p>
    <select class="select search" id="select_search">
        <option value="emp_name">이름</option>
        <option value="emp_no">사번</option>
        <option value="dept">부서</option>
        <option value="emp_position">직책</option>
    </select>
    <div class="search" style="cursor:pointer" onkeyup="searchEnter()">
        <input type="text" placeholder="검색어 입력" id="input_text">
        <i class="fa-solid fa-magnifying-glass" onclick="manageSearch()"></i>
    </div>
</div>
