<link rel='stylesheet' href="/stylesheets/manageUser/manageModal.css"></script>
<div id="manageModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="manageDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>관리하기</h3>
        <p id="e_num"></p>
        <p id="e_name"></p>
        <p id="e_dept"></p>
        <p id="e_position"></p>
        <p id="e_email"></p>
        <p id="p_edit"></p>
        <p id="p_rent"></p>
        <p id="p_open"></p>
        <p id="save_button"></p>
        <p id="ben_button"></p>
    </div>
</div>