<!--
    * 담당자 : 박신욱
    * 기능 : 마이 페이지
    * 설명 : 나의 전체 대여현황, 대여현황, 반납현황을 탭기능으로 각 요소에 필요한 컴포넌트 배치
-->
<div class="container">

    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1" onclick="tabClick(this)">전체</li>
        <li class="tab-link" data-tab="tab-2" onclick="tabClick(this)">대여</li>
        <li class="tab-link" data-tab="tab-3" onclick="tabClick(this)">반납</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        <%- include('./fullStatus.ejs') %>
    </div>
    <div id="tab-2" class="tab-content">
        <%- include('./rentStatus.ejs') %>
    </div>
    <div id="tab-3" class="tab-content">
        <%- include('./returnStatus.ejs') %>
    </div>
</div>

<script>
    /**
     * 담당자 : 박신욱
     * 함수 설명 : 탭의 클릭이벤트
     * 주요 기능 : 선택한 탭의 Element 를 가져와 ClassName을 통해 탭기능 활성화
     * ClssName - current 일경우 css를 통해 화면에 표시
     */
    function tabClick(e) {
        let tab_link = document.getElementsByClassName('tab-link')
        for (let i = 0; i < tab_link.length; i++) {
            tab_link[i].classList.remove('current');
        }
        e.classList.add('current');
        let tab_id = e.getAttribute('data-tab');
        let tab_content = document.getElementsByClassName('tab-content');
        for (let i = 0; i < tab_content.length; i++) {
            tab_content[i].classList.remove('current');
        }
        document.getElementById(tab_id).classList.add('current');
    }
</script>
