<link rel='stylesheet' href="/stylesheets/navbar.css"></script>
<script src="https://kit.fontawesome.com/6ae3e97f2e.js" crossorigin="anonymous"></script>
<script src="/javascripts/logout.js"></script>
<script src="/javascripts/navbar.js"></script>

<div class="sidebar">
    <div class="logo">
        <div class="logo_name">물품 전산</div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>
    <input id="stateUrl" type="hidden" value="<%= stateUrl %>">
    <li>
        <i class="fa-sharp fa-solid fa-magnifying-glass" id="searchIcon"></i>
        <input type="text" placeholder="물품 검색...">
        <span class="tooltip">Search</span>
    </li>
    <li>
        <a href="/" class="home">
            <i class="fa-sharp fa-solid fa-house"></i>
            <span class="links_name">홈</span>
        </a>
        <span class="tooltip">홈</span>
    </li>
    <div class="manageTap">
    <li>
        <a href="/manageUser" class="manageUser">
            <i class="fa-solid fa-people-roof"></i>
            <span class="links_name">이용자관리</span>
        </a>
        <span class="tooltip">이용자관리</span>
    </li>
    </div>
    <li>
        <a href="/regProduct" class="regProduct">
            <i class="fa-regular fa-square-plus"></i>
            <span class="links_name">물품등록</span>
        </a>
        <span class="tooltip">물품등록</span>
    </li>
    <li>
        <a href="#" class="manageProduct">
            <i class="fa-solid fa-gear"></i>
            <span class="links_name">물품관리</span>
        </a>
        <span class="tooltip">물품관리</span>
    </li>
    <li>
        <a href="#" class="rentStatus">
            <i class="fa-solid fa-table-list"></i>
            <span class="links_name">대여 현황</span>
        </a>
        <span class="tooltip">대여 현황</span>
    </li>
    <li>
        <a href="#" class="myPage">
            <i class="fa-solid fa-user"></i>
            <span class="links_name">마이페이지</span>
        </a>
        <span class="tooltip">마이페이지</span>
    </li>
    <li>
        <a onclick="reToken()">
            <i id="timmer" style="font-size:10px"></i>
            <span class="links_name">로그인 연장</span>
        </a>
        <span class="tooltip">로그인 연장</span>
    </li>
    <li class="footNav">
        <a onclick="logout(getCookie())">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="links_name">로그아웃</span>
        </a>
        <span class="tooltip">로그아웃</span>
    </li>
    </ul>
</div>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector("#searchIcon");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    searchBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
            closeBtn.classList.remove("fa-solid", "fa-bars");
            closeBtn.classList.add("fa-solid", "fa-arrow-left");
        }else {
            closeBtn.classList.remove("fa-solid", "fa-arrow-left");
            closeBtn.classList.add("fa-solid", "fa-bars");
        }
    }
    let stateUrl = document.querySelector('#stateUrl').value;

    switch(stateUrl) {
        case 'home':
            document.querySelector('.home').classList.add('currentPage');
            break;
        case 'manageUser':
            document.querySelector('.manageUser').classList.add('currentPage');
            break;
        case 'regProduct':
            document.querySelector('.regProduct').classList.add('currentPage');
            break;
        case 'rentStatus':
            document.querySelector('.rentStatus').classList.add('currentPage');
            break;
        default:
            document.querySelector('.myPage').classList.add('currentPage');
            break;
    }
</script>
