<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>물품 전산 관리 페이지</title>
    <style>
        /* Google Font Link */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins" , sans-serif;
        }
        .sidebar{
            position: fixed;    /* 위치 고정 */
            left: 0;            /* 고정 위치 */
            top: 0;             /* 고정 위치 */
            height: 100%;
            width: 78px;
            background: #4385F5;
            padding: 6px 14px;
            z-index: 99;        /* Z축에서의 순서(클수록 위) */
            transition: all 0.5s ease; /* 움직임 */
        }
        .sidebar.open{
            width: 250px;
        }
        .sidebar .logo-details{
            height: 60px;
            display: flex;
            align-items: center;
            position: relative;
        }
        .sidebar .logo-details .icon{
            opacity: 0;
            transition: all 0.5s ease;
        }
        .sidebar .logo-details .logo_name{
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            transition: all 0.5s ease;
        }
        .sidebar.open .logo-details .icon,
        .sidebar.open .logo-details .logo_name{
            opacity: 1;
        }
        .sidebar .logo-details #btn{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-size: 22px;
            transition: all 0.4s ease;
            font-size: 23px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        .sidebar.open .logo-details #btn{
            text-align: right;
        }
        .sidebar i{             /* sidebar의 아이콘 */
            color: #fff;
            height: 60px;
            min-width: 50px;
            font-size: 28px;
            text-align: center;
            line-height: 60px;
        }
        .sidebar .nav-list{     /* 메뉴들의 ul */
            margin-top: 20px;
            height: 100%;
        }
        .sidebar li{            /* 각 메뉴들 */
            position: relative;
            margin: 8px 0;
            list-style: none;
        }
        .sidebar li .tooltip{   /* 메뉴마다의 말풍선 */
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }
        .sidebar li:hover .tooltip{ /* 메뉴 말풍선 hover 시 변경 */
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
        }
        .sidebar.open li .tooltip{
            display: none;
        }
        .sidebar input{             /* 검색창 */
            font-size: 15px;
            color: #FFF;
            font-weight: 400;
            outline: none;
            height: 50px;
            width: 100%;
            width: 50px;
            border: none;
            border-radius: 12px;
            transition: all 0.5s ease;
            background: #1d1b31;
        }
        .sidebar.open input{
            padding: 0 20px 0 50px;
            width: 100%;
        }
        .sidebar .bx-search{            /*  */
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 22px;
            background: #1d1b31;
            color: #FFF;
        }
        .sidebar.open .bx-search:hover{
            background: #1d1b31;
            color: #FFF;
        }
        .sidebar li a{
            display: flex;
            height: 100%;
            width: 100%;
            border-radius: 12px;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease;
            background: #11101D;
        }
        .sidebar li a:hover{
            background: #FFF;
        }
        .sidebar li a .links_name   {  /* 각 메뉴의 이름부분 */
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
        }
        .sidebar.open li a .links_name{ /* 열렸을 때 메뉴 이름 */
            opacity: 1;
            pointer-events: auto;
        }
        .sidebar li a:hover .links_name,/* 메뉴에 마우스 올려놨을 때 */
        .sidebar li a:hover i{          /* 메뉴 이름과 아이콘 */
            transition: all 0.5s ease;
            color: #11101D;
        }
        .sidebar li i{                  /* 각 메뉴의 아이콘들 */
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            border-radius: 12px;
        }
        .home-section{                  /* 본문 영역 */
            position: relative;
            background: #E4E9F7;
            min-height: 100vh;
            top: 0;
            left: 78px;
            width: calc(100% - 78px);
            transition: all 0.5s ease;
            z-index: 2;
        }
        .sidebar.open ~ .home-section{  /* 사이드 열렸을 때 중간요소 */
            left: 250px;
            width: calc(100% - 250px);
        }
        .home-section .text{            /* 본문의 텍스트 */
            display: inline-block;
            color: #11101d;
            font-size: 25px;
            font-weight: 500;
            margin: 18px
        }
        @media (max-width: 420px) {
            .sidebar li .tooltip{
                display: none;
            }
        }
    </style>
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i> <!-- icon -->
        <div class="logo_name">CodingLab</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search' ></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-user' ></i>
                <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-chat' ></i>
                <span class="links_name">Messages</span>
            </a>
            <span class="tooltip">Messages</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2' ></i>
                <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-folder' ></i>
                <span class="links_name">File Manager</span>
            </a>
            <span class="tooltip">Files</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cart-alt' ></i>
                <span class="links_name">Order</span>
            </a>
            <span class="tooltip">Order</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart' ></i>
                <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Prem Shahi</div>
                    <div class="job">Web designer</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out" ></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="text">Dashboard</div>
</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        }else {
            closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
        }
    }
</script>
</body>
</html>