/**
* 담당자: 박신욱
* 설명: 검색 UI css
* 주요 기능: 공통으로 사용할 수 있도록 검색 기능을 가진 검색창 UI css 모듈
*/
.searchBox {
    display: flex;
    justify-content: center;
}

.search {
    position: relative;
    width: 400px;
}

input[type="text"],[type="datetime-local"] {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

.select {
    width: 150px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin-right: 5px;
}

i.fa-magnifying-glass {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}