<!--
    * 담당자 : 공통
    * 기능 : 물품 관리 페이지
    * 설명 : 물품 상세페이지, 대여이력, 대여현황 들을 각 상황에 맞게 모달창css 를 변경 할 수있도록 배치
-->
<div id="productModal" class="modal">
    <div id="modal-content" class="modal-content modal-productDetail">
        <span class="close" onclick="productDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <div id="modal-rental">
            <%- include('./productDetail') %>
        </div>
        <div id="modal-rentalList">
            <%- include('./rentalList') %>
        </div>
    </div>
</div>