<div class="searchBox">
    필터
    <select class="select firstFilter" onchange="firstFilter(this)">
        <option value="" selected>전체</option>
        <% category.map(res => {%>
        <option value='<%= res.firstCategory %>'><%= res.firstCategory %></option>
        <%})%>
    </select>
    <select class="select secondFilter" onchange="secondFilter(this)" disabled>
        <option value="" selected>전체</option>
    </select>
    검색창
    <select class="select search" id="select_search">
        <option value="product_name">물품</option>
    </select>
    <div class="search" style="cursor:pointer">
        <input type="text" placeholder="검색어 입력" id="input_text">
        <i class="fa-solid fa-magnifying-glass" onclick="productSearch()"></i>
    </div>
    <button id="xlsxBtn" onclick="xlsxTable()">엑셀 다운로드</button>
</div>
