<div id="productModal" class="modal">
    <div id="modal-content" class="modal-content modal-productDetail">
        <span class="close" onclick="productDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <%- include('./productDetail') %>
        <!--<%- include('./rentalList') %>-->
    </div>

</div>