<div class="productDetailDiv" style="display: none;">


<table>
    <thead>
        <tr>
            <td>aa</td>
            <td>aa</td>
            <td>aa</td>
            <td>aa</td>
        </tr>
    </thead>
    <tr>
        <td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td>
    </tr><tr>
        <td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td>
    </tr><tr>
        <td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td>
    </tr><tr>
        <td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td><td>
            asdf
        </td>
    </tr>

</table>
</div>