<!--
    * 담당자 : 박신욱
    * 기능 : 물품 상세 페이지
    * 설명 : 물품상세 페이지로 필요한 Elements 를 배치
-->
<h1 class="modal-title">물품 대여</h1>
<div class="content__detail">
    <div class="pDiv">
        <p>물품명</p>
        <p id="product_name"></p>
    </div>
    <div class="pDiv">
        <p>카테고리</p>
        <p id="product_category"></p>
    </div>
    <div class="pDiv">
        <p>물품 코드</p>
        <p id="product_code"></p>
    </div>
    <div class="pDiv">
        <p>대여 가능 여부</p>
        <p id="rental_availability"></p>
    </div>
    <div class="pDiv">
        <p>반환 필요 여부</p>
        <p id="return_needed"></p>
    </div>
    <div class="pDiv">
        <p>수량</p>
        <p id="quantity"></p>
    </div>

    <input class="product_code" type="hidden" value="">
    <input class="product_id" type="hidden" value="">

    <div class="manageOk">
        <button class="btn-empty" onclick="rentalList()">대여자 명단</button>
        <button class="btn-empty" onclick="history()">대여 이력</button>
    </div>
    <div class="editOk">
        <button onclick="edit()">편집</button>
        <button class="btn-red" onclick="productDelete()">물품 삭제</button>
    </div>
</div>


<!--
    * 담당자 : 박신욱
    * 기능 : 물품 상세 페이지
    * 설명 : 대여화면에 필요한 Elements를 배치
-->
<div class="rentalDiv">
    <div id="inputStart"></div>
    <div id="inputEnd"></div>
    <div id="inputText"></div>
    <p id="rentalButton"></p>
</div>

