<link rel='stylesheet' href="/stylesheets/productManage/productModal.css" />
<div id="productModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="productDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <p id="product_name"></p>
    </div>
</div>