<h1 class="modal-title">물품 대여 명단</h1>
<div>물품 분류</div>
<div>물품 이름</div>
<div>물품 코드</div>

<table>
    <thead style="color: #11101d">
        <tr>
            <td>대여자명</td>
            <td>대여 사유</td>
            <td>대여일</td>
            <td>반납 기한</td>
            <td>대여 상태</td>
        </tr>
    </thead>
    <tbody class="rentalList__Tbody">
        <tr>
            <td>배도훈</td>
            <td>일반대여</td>
            <td>2022-09-08</td>
            <td>2022-09-18</td>
            <td>반납</td>
        </tr>
            <td>박신욱</td>
            <td>일반대여</td>
            <td>2022-09-08</td>
            <td>2022-09-18</td>
            <td>대여중</td>
        </tr>
    </tbody>
</table>

<button onclick="back()">뒤로가기</button>