<h1 id="modal-title"></h1>
<p id="product_name"></p>
<p id="product_category"></p>
<p id="product_code"></p>
<p id="rental_availability"></p>
<p id="return_needed"></p>
<p id="quantity"></p>

<table>
    <thead class="rentalList__thead" style="color: #11101d">
    </thead>
    <tbody class="rentalList__tbody">
    </tbody>
</table>

<button onclick="back()">뒤로가기</button>