<!--
    * 담당자 : 배도훈
    * 기능 : 대여현황 및 대여이력 모달 창
    * 설명 : 대여현황 및 대여이력에 필요한 Elements 배치
-->
<i class="fa-solid fa-arrow-left" onclick="back()"></i>
<h1 id="modal-title"></h1>
<p id="product_name"></p>
<p id="product_category"></p>
<p id="product_code"></p>
<p id="rental_availability"></p>
<p id="return_needed"></p>
<p id="quantity"></p>
<div class="table-box-wrap">
    <div class="table-box">
        <table>
            <thead class="rentalList__thead" style="color: #11101d">
            </thead>
            <tbody class="rentalList__tbody">
            </tbody>
        </table>
    </div>
</div>

