<div id="addCategoryModal" class="modal">
    <div class="modal-content" id="content">
        <span class="close" onclick="addDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>카테고리 추가</h3>
        <div>
            <input type="radio" name="selectNth" id="addFirstRadio" value="addFirstCategory" checked> 대분류 추가
            <input type="radio" name="selectNth" id="addSecondRadio" value="addSecondCategory"> 소분류 추가
        </div>
        <div id="addCategoryInput">
            <span>대분류 <input type="text" id="addFirstInput"></span>
        </div>
        <div><button onclick="regCategory()">등록</button></div>
    </div>
</div>