<link rel='stylesheet' href="/stylesheets/regProduct/addCategoryModal.css"></script>
<div id="addCategoryModal" class="modal">
    <div class="modal-content" id="content">
        <span class="close" onclick="addDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>관리하기</h3>
        <div>대분류 <input type="text"></div>
        <div>소분류 <input type="text"></div>
        <div><button>등록</button></div>
    </div>
</div>