<div id="excelModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="excelDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>엑셀 파일 등록</h3>
        <div class="modal__body">
            <div class="modal__top">

            </div>
            <div class="modal__mid">
                <div id="excelInput">

                    <input id="excelBtn" type="file" onchange="" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                </div>
            </div>
            <div class="modal__bottom">
                <button onclick="readExcel()">등록</button>
            </div>
        </div>









    </div>
</div>