<!--
- 담당자 : 배도훈
- 설명 : 엑셀 파일 등록 모달
- 주요 기능 : 엑셀 파일 등록 기능
-->
<div id="excelModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="excelDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>엑셀 파일 등록</h3>
        <div class="modal__body">
            <div class="modal__mid">
                <div id="excelInput">
                    <div class="filebox">
                        <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                        <label for="excelBtn">파일찾기</label>
                        <input id="excelBtn" type="file" onchange="inputFile(this)"
                               accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    </div>
                </div>
            </div>
            <div class="modal__bottom">
                <button onclick="readExcel()">등록</button>
            </div>
        </div>
    </div>
</div>